/* Шрифт «Roboto Regular» */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/roboto-regular.woff2") format("woff2"),
       url("../fonts/roboto-regular.woff") format("woff");
}

/* Шрифт «Roboto Medium» */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url("../fonts/roboto-medium.woff2") format("woff2"),
       url("../fonts/roboto-medium.woff") format("woff");
}

/* Шрифт «Roboto Bold» */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/roboto-bold.woff2") format("woff2"),
       url("../fonts/roboto-bold.woff") format("woff");
}

/* ---------- Общие элементы ---------- */
body {
  margin: 0;
  padding: 0;
  min-width: 1440px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;   /* Roboto Regular */

  color: #000000;
  background-color: #ffffff;
}

a {
  /*outline: none;*/
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;     /* Roboto Medium */

  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


/* ----------- Центровщик ---------- */
/*.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
}
*/

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
  box-sizing: border-box;
}

.header,
.main {
  display: flex;
  flex-direction: column;
}

/* ---------- Шапка сайта ---------- */

.header {
  align-items: center;
  background-color: #eeeeee;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  margin: 0;
  padding: 0;
  padding-top: 49px;
  padding-bottom: 18px;
}

.header h1 {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 100px;
  box-sizing: border-box;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;   /* Roboto Medium */
  color: #000000;

  min-height: 223px;
}

.header-logo {
  width: 160px;
  height: 65px;
  margin-right: 202px;
}

.header-logo:hover,
.header-logo:focus {
  outline: none;
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.basket
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;   /* Roboto Medium */
  text-transform: uppercase;

  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 26px;
}

.site-navigation {
  justify-content: flex-start;
  width: 600px;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.basket {
  justify-content: flex-end;
  width: 120px;
  margin-left: auto;
}

.basket-link {
  display: block;
  position: relative;
}

.basket-link::before {
  content:"";
  position: absolute;
  width: 15px;
  height: 15px;

  top: 7px;
  left: -40px;

  background-color: red;
  background: url("../img/icon-basket.svg") no-repeat 0 0;
  opacity: 0.3;
}

.site-navigation a,
.basket a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-active {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

/*------------------ Слайдер ------------------- */
/*  https://up.htmlacademy.ru/htmlcss/25/demos/  */
/*     (переключение слайдов с помощью CSS)      */

.slider {
  position: relative;
  box-sizing: border-box;

  width: 1440px;
  padding: 0 140px;
  margin: 0 auto;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

/*
  Критерий Д6. Для стилизации не использованы #id
  Важно: использовать атрибут id в HTML-разметке можно и нужно.
  Например, для привязки полей к подписям в формах.
*/

/*
  Критерий Д7. Нет вложенности селекторов больше двух
  Важно: допускается использовать селекторы с вложенностью больше двух
  при оживлении слайдеров на чистом CSS
*/

#advantage-1-id:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#advantage-2-id:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#advantage-3-id:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#advantage-1-id:checked ~ .slider-controls .slider-controls-item--1::before,
#advantage-2-id:checked ~ .slider-controls .slider-controls-item--2::before,
#advantage-3-id:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;

  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;   /* Roboto Medium */

  text-align: left;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  text-align: left;
  color: #283136;
}

.slider-item-button {
  padding: 18px 0;

  width: 240px;
  height: 50px;
}


/* ---------- Наши услуги ---------- */
.services {
  padding: 80px 0;

  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-item {
  width: 300px;
  margin-right: 100px;
  padding-top: 145px;
}

.service-item:last-child {
  margin-right: 0;
}

.service-item:nth-child(1) {
  background-image: url("../img/advantage-picture-red.png");
  background-repeat: no-repeat;
  background-size: 100% 145px;
}

.service-item:nth-child(2) {
  background-image: url("../img/advantage-picture-green.png");
  background-repeat: no-repeat;
  background-size: 100% 145px;
}

.service-item:nth-child(3) {
  background-image: url("../img/advantage-picture-yellow.png");
  background-repeat: no-repeat;
  background-size: 100% 145px;
}

.service-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 30px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;   /* Bold */

  text-transform: uppercase;
  text-align: left;
}

.service-item p {
  padding-right: 40px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;   /* Roboto Regular */

  color: #283136;
  text-align: left;
}

.btn-order {
  display: inline-block;
  margin-top: 35px;

  font-size: 16px;
  /*line-height: 18px;*/
  line-height: 50px;
  font-weight: 500;   /* Roboto Medium */

  width: 160px;
  height: 50px;
  text-align: center;
}

.btn-order:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.btn-sites {
  background-color: #fb565a;
}

.btn-sites:hover,
.btn-sites:focus {
  background-color: #e74246;
}

.btn-sites:active {
  background-color: #d7373b;
}

.btn-apps {
  background-color: #00ca74;
}

.btn-apps:hover,
.btn-apps:focus {
  background-color: #00bc6c;
}

.btn-apps:active {
  background-color: #00aa62;
}

.btn-presentations {
  background-color: #efc84a;
}

.btn-presentations:hover,
.btn-presentations:focus {
  background-color: #eab534;
}

.btn-presentations:active {
  background-color: #e5a722;
}

/* ---------- Коротко о нас ---------- */
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  padding: 80px 0;

  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
}

.about-column-left,
.about-column-right {
  width: 650px;
}

.about-column-left {
  margin-right: 150px;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;   /* Roboto Medium */

  width: 647px;
  height: 87px;

  text-align: left;
  color: #000000;
}

.about-principles {
  text-align: left;
  color: #283136;
}

.about-orders-title {
  font-weight: 700;   /* Roboto Bold */
  text-transform: uppercase;
  text-align: left;

  color: #000000;
}

.about-orders-list li {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;   /* Roboto Regular */

  text-align: left;
  color: #283136;
}

/* таблица */
.about-table-title {
  font-weight: 700;   /* Roboto Bold */
  text-transform: uppercase;
  text-align: left; /* center */
  color: #000000;
}

.about-table {
  display: flex;
  flex-direction: column;

  width: 360px;
  border-collapse: collapse;
}

.about-table thead {
  order: 1;
  width: 95px;
}

.about-table tbody {
  order: 0;
  width: 95px;
}

.about-table th {
  /*display: table-cell;*/

  padding-top: 27px;
  /*padding-bottom: 27px;*/
  margin-right: 25px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;   /* Roboto Regular */

  text-align: left;
}

.about-table td {
  /*display: table-cell;*/

  margin-right: 25px;

  font-family: inherit;
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;   /* Roboto Bold */

  text-align: left;
}

.about-table .percent {
  font-weight: 700;   /* Roboto Bold */
  font-size: 22px;
  vertical-align: super;
}

/* ---------- Наши партнёры ---------- */
.partners {
  padding: 80px 0;

  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  list-style: none;
}
.partners-list li {
  display: inline-block;
  width: 260px;
}

.partner-item .partner-logo {
  opacity: 0.2;
}

.partner-item .partner-logo:hover,
.partner-item .partner-logo:focus {
  opacity: 1;
}

.partner-item .partner-logo:active {
    opacity: 0.1;
}

/* ---------- Подвал сайта ---------- */
.footer {
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

/* ---------- Контактная информация ---------- */
.footer-contacts {
  display: block;
  position: relative;
}

.footer-contacts-detail {
  display: block;

  position: absolute;
  top: 54px;
  left: 140px;

  width: 219px;
  height: 208px;

  padding: 50px;

  background-color: #ffffff;
  z-index: 2;
}

.footer-contacts-detail b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;   /* Roboto Bold */

  text-align: left;
  color: #000000;
}

.footer-contacts-detail p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;   /* Roboto Regular */

  text-align: left;
  color: #666666;
}

.btn-write {
  display: inline-block;

  font-size: 16px;
  line-height: 50px; /*18px*/
  font-weight: 500;   /* Roboto Medium */

  width: 219px;
  height: 50px;
  text-align: center;

  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.btn-write:hover,
.btn-write:focus {
  background-color: #e74246;
}

.btn-write:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);

  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

/* ---------- Карта ---------- */
.footer-contacts-map {
  display: block;
  position: relative;

  width: 1440px;
  height: 416px;
}

.footer-contacts-map::after {
  content: "";
  position: absolute;
  top: 89px;
  left: 820px;

  width: 231px;
  height: 190px;

  background-image: url("../img/map-marker.png");
  z-index: 1;
}

/* ---------- социальные сети ---------- */
.footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  padding: 69px 0;
}

.social-icons {
  width: 260px;
}

.social-list {
  margin: 0;
  padding: 0;

  display: block;
  position: relative;

  list-style: none;
}

.btn-soc::before {
  content: "";

  position: absolute;
  width: 79px;
  height: 79px;

  color: #ffffff;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.btn-soc:hover::before,
.btn-soc:focus::before {
  background-color: #e74246;
}

.btn-soc:active::before {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.btn-soc-vk::before {
  top: 0px;
  left: 0px;
}

.btn-soc-fb::before {
  top: 0px;
  left: 91px;
}

.btn-soc-ig::before {
  top: 0px;
  left: 181px;
}

.btn-soc::after {
  content: "";

  position: absolute;
  width: 26px;
  height: 22px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;
}

.btn-soc-vk::after {
  background-image: url("../img/icon-vk.svg");
  top: 29px;
  left: 27px;
}

.btn-soc-fb::after {
  background-image: url("../img/icon-fb.svg");
  top: 29px;
  left: 118px;
}

.btn-soc-ig::after {
  background-image: url("../img/icon-insta.svg");
  top: 29px;
  left: 208px;
}

.btn-soc-vk:hover::after,
.btn-soc-vk:focus::after,
.btn-soc-fb:hover::after,
.btn-soc-fb:focus::after,
.btn-soc-ig:hover::after,
.btn-soc-ig:focus::after {
  background-color: #e74246;
}

.btn-soc-vk:active::after,
.btn-soc-fb:active::after,
.btn-soc-ig:active::after {
  background-color: #d7373b;
  opacity: 0.3;
}

.footer-slogan {
  display: flex;
  flex-direction: column;
  flex-basis: 545px;
  margin-left: 139px;
}

.footer-slogan b {
  padding: 0;
  padding-top: 9px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;   /* Roboto Bold */

  color: #000000;
}

.footer-slogan p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;   /* Roboto Regular */

  color: #444444;
}

/* ---------- Каталог ---------- */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.filters,
.catalog {
  padding-top: 60px;
}

.filters {
  width: 260px;
  margin-right: 140px;
}

.catalog {
  width: 760px;
  margin-left: auto;
}

/* ---------- Форма фильтра ---------- */
.filters fieldset {
  border: none;
}

.filters legend {
  font-weight: 700;   /* Roboto Bold */
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  padding: 0;

  background-color: rgba(255, 128, 255, 0.3); /* временно */
}

/* ---------- Элемент управления RANGE с двумя ползунками ---------- */
/* ----- и полями ввода минимального и максимального значения ------ */
.slider-range {
  width: 261px;
  margin-bottom: 60px;
}

.controls-range {
  position: relative;
  height: 41px;  /* padding-top + толщина шкалы */

  padding-top: 39px;
  padding-right: 21px;
  padding-left: 21px;
  margin-bottom: 13px;

  background-color: #eeeeee;
  border-radius: 3px;
}

.controls-range .scale {
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
}

.controls-range .bar {
  width: 152px;
  height: 2px;
  background: #00ca74;
}

.controls-range .toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 30px;
  left: 0;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.controls-range .toggle-min {
  left: 20px;
}

.controls-range .toggle-max {
  left: 160px;
}

.controls-price {
  width: 290px;
  font-size: 0;
}

.controls-price label {
  display: inline-block;
  font-weight: 400;   /* Roboto Regular */
  font-size: 16px;
  width: 50%;
  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
}

.controls-price input {
  font: inherit;
  font-weight: 400;   /* Roboto Regular */
  font-size: 16px;
  line-height: 22px;
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  background: #eeeeee;
  border: none;
  /*border: 2px solid #d7dcde;*/
  border-radius: 3px;
}

/*.controls-price input:hover {
  outline: 2px solid #b4b9bb;
}
*/

/*.controls-price input:focus {
  outline: 2px solid #000000;
}
*/
/*-------------------------------------------------------------*/

.filter-options {
  list-style: none;
}

.filter-options li {
  display: block;
  position: relative;
  margin-bottom: 16px;
}

.filter-input + label {
  line-height: 20px;
  color: #283136;
  cursor: pointer;
}

.filter-input + label:hover,
.filter-input + label:focus {
  color: #283136;
}

.filter-input[disabled] + label {
  color: rgba(40, 49, 54, 0.3);
  cursor: default;
}

.type-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  background-color: #4d4d4d;
  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.type-radio + label:hover::before,
.type-radio + label:focus::before {
  opacity: 1;
}

.type-radio:checked + label::before {
  opacity: 1;
  background-image: url("../img/radio-on.svg");
}

.type-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  width: 27px;
  height: 23px;
  opacity: 0.4;
  background-color: #4d4d4d;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.type-checkbox + label:hover::before,
.type-checkbox + label:focus::before {
  opacity: 1;
}

.type-checkbox:checked + label::before {
  width: 25px;
  height: 25px;
  opacity: 1;
  background-image: url("../img/checkbox-on.svg");
}

.type-radio[disabled] + label::before,
.type-checkbox[disabled] + label::before {
  opacity: 0.1;
  cursor: default;
}

.filter-submit {
  width: 260px;
  height: 50px;
  font-weight: 500;   /* Roboto Medium */
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
}

.filter-submit:hover,
.filter-submit:focus {
  background-color: #dfdfdf;
}

.filter-submit:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

 .sort-title {
  font-weight: 700;   /* Roboto Bold */
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;

  background-color: rgba(255, 128, 255, 0.3); /* временно */
}

.catalog-sort h4 {
  margin: 0;
  padding: 0;
}

.sort-fields,
.sort-direction {
  display: flex;
  align-self: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-fields li {
  padding-right: 26px;
}

.sort-fields li:last-child {
  padding-right: 0;
}

.sort-fields a {
  font-weight: 400;   /* Roboto Regular */
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  opacity: 0.3;
}

.sort-fields a:hover,
.sort-fields a:focus {
  opacity: 0.6;
}


.sort-fields .sort-fields-selected,
.sort-fields a:active {
  opacity: 1;
}

.sort-direction {
  display: block;
  width: 40px;
  height: 10px;
  /*margin-bottom: 30px; /* временно */*/
  list-style: none;
}

.sort-direction-down,
.sort-direction-up {
  display: block;
  position: relative;
  width: 11px;
}

.sort-direction-down::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-dir-down.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-direction-up::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 29px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-dir-up.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-direction-up:hover::before,
.sort-direction-up:focus::before,
.sort-direction-down:hover::before,
.sort-direction-down:focus::before {
  opacity: 0.4;
}

.sort-direction-up:active::before,
.sort-direction-down:active::before {
  opacity: 1;
}

.sort-direction-selected::before,
.sort-direction-selected:hover::before,
.sort-direction-selected:focus::before {
  opacity: 1;
}

/* ---------- Карточки товаров ---------- */
.catalog-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  list-style: none;
}

.catalog-item {
  display: block;
  position: relative;
  margin-top: 30px;
  /*margin-right: 40px;*/
  outline: none;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-info,
.catalog-item:focus .catalog-item-info {
  display: block;
}

.catalog-picture {
  width: 360px;
  height: 576px;
  padding-top: 40px;
}

.catalog-item-info {
  display: none;
  position: absolute;
  width: 230px;
  min-height: 160px;
  bottom: 0;

  padding-top: 30px;
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: 43px;

  background-color: #eeeeee;
  text-align: center;
  overflow: auto;
  z-index: 1;
}

.catalog-item-title {
  font-weight: 700;   /* Roboto Bold */
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-title a {
  color: #000000;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
  color: #fb565a;
}

.catalog-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-description {
  font-weight: 400;   /* Roboto Regular */
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.catalog-item-price {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.catalog-item-price:hover,
.catalog-item-price:focus {
  background-color: #e74246;
}

.catalog-item-price:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}


/* ---------- Пагинация ---------- */
.pagination-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list li {
  margin-right: 11px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;   /* временно */
  font-weight: 500;   /* Roboto Medium */
  font-size: 16px;
  /*line-height: 18px;*/
  text-transform: uppercase;
  text-align: center;

  width: 50px;
  height: 50px;
  line-height: 50px;  /* временно */

  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination-item-active a,
.pagination-item-active a:hover,
.pagination-item-active a:focus,
.pagination-item-active a:active {
  box-shadow: none;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-next a {
  width: 260px;
}


/* всплывающие элементы (pop-up) сейчас временно скрыты (до раздела 7) */
.modal {
  display: none;
}
